<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <title>Login</title>
</head>
<body>
    <div id="background-header">
    <div id="header">
        <div id="websiteName">
            <h2>Random Realm</h2>
        </div>

        <a href="homePage.html"><img src="/static/images/home.png" class="img-header"></a>
        <div class="line"></div>
        <a href="/login"><img src="/static/images/register.png" class="img-header"></a>
    </div>
    </div>

    <section>
        <!-- Add method and action attributes -->
        <form method="POST" action="/login">
            <h1>Log in</h1>

            <!-- Add name attributes to inputs -->
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="text" name="username" required>
                <label for="">User Name</label>
            </div>

            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password" required>
                <label for="">Password</label>
            </div>

            <div class="forget">
                <label for=""><input type="checkbox">Remember me</label>
                <a href="#">Forgot password?</a>
            </div>

            <button type="submit">Log in</button>

            <div class="register">
                <p>or <a href="/signup">create an account</a></p>
            </div>
        </form>
    </section>
</body>
</html>
